.ampsy-widget.loading {
  background: transparent url('/wp-admin/images/spinner.gif') 50% 50% no-repeat;
}

.ampsy-widget p.error {
  display: none;
}

.ampsy-widget.loading p {
  visibility: hidden;
}

.ampsy-widget.error p {
  display: none;
}

.ampsy-widget.error p.error {
  display: block;
}

iframe.ampsy-settings {
  width: 100%;
  min-height: 800px;
  height: 100%;
  background-image: url('/wp-admin/images/spinner-2x.gif');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
